{% extends 'study/indexl.html' %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-inverse" style="position:fixed;top:0px;width:70vw;left:30vw;">
  <div class="container-fluid">
    <!--<div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>-->
    <ol class="nav navbar-nav" style='font-size:1.5vw;padding-bottom: 5px;display: inline-block;float: left;'>
      <li style="display: inline-block;"><a href="/study/light/">Home</a></li>
	<li style="pointer-events: none;cursor: default;display: inline-block;" class='nav_li'><a href="/study/light/">></a></li>
<li class='nav_li' style="display: inline-block;"><a href="">Upload</a></li>
      <!--<li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>-->
    </ol>
    <a style="text-decoration:none; float:right;" href="/study/"><h4 style="font-size:1vw; ">SWITCH THEME</h4></a>

  </div>
</nav>

<!--<ol class="breadcrumb" style="background-color:#000;position:fixed;left:29vw;top:0px;width:71vw;font-size:1.5vw;">
	<li><a href="/studapp/">Home</a></li>
	
</ol>-->
{% endblock %}

{% block content %}
  <br></br>
<span id='form'>
<p>Note: In case you upload a book, tut or something other than exam paper, leave the sem and year blank and add some details in the type of paper.</p>
<!-- <p>Important Instruction: Please take care to upload the file with an appropriate name so that it is easy for others to understand.</p> -->
  <form style="color: black; font-size:150%;" method="post" enctype="multipart/form-data" class="uploadform">
    {% csrf_token %}
    <label>Course Code</label>
    <input style="margin:0" type="text" name="course_code" maxlength='6' placeholder="APL100" autocomplete="off" required>
    <br>
    <label>Semester</label>
    <!-- <input type="text" name="sem"> -->
    <select name = "sem" style="display: inline;width:100px">
        <option value="_"> </option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <br>
    <label>Academic Year</label>
    <input style="margin:0" type="text" name="year" placeholder="2016-17">
    <br>
    <label>Type of paper</label>
    
    <!-- <input style="margin:0px;width:500px" list="types" name="type_exam" placeholder="minor1 or Probability_CheatSheet"  required>
     <datalist id="types">
     <option value="minor1">
     <option value="minor2">
     <option value="major">
    </datalist>
    <br> -->

    <input type="radio" name="type_exam" value="minor1">Minor1
    <input type="radio" name="type_exam" value="minor2">Minor2
    <input type="radio" name="type_exam" value="major">Major
    <input id="other" type="radio" name="type_exam" value="">Other:
    <input style="width:400px" id="other_text" type="text" name="other_text" placeholder="If not an exam paper, enter file name" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
    <!-- <input type="radio" name="type_exam" value="">Other <input type="text" name="type_exam" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​ -->

    <input type="file" name="document" required>

    <button type="submit">Upload</button>
  </form>
{% endblock %}
{% block js %}
  <script type="text/javascript">
    $(function() {
    $('input').on('keypress', function(e) {
        if (e.which == 32)
            return false;
    });
});
  </script>
	<script src="{% static 'upload.js' %}"></script>
  <script type="text/javascript">
    $(function(){
      $('#other_text').on('change', function(){
        $('#other').val($('#other_text').val());
      });
    });
  </script>
</span>	
{% endblock %}
