html,
body {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 0.5rem;
    padding-bottom: 0.15rem;
}

#body-container {
    min-width: 100%;
}


#content {
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
}


#path {
    padding: auto;
}

/*#path-box{
   padding-left: auto;
}*/

#path-bar{
    margin-top:16px; 
    box-sizing: border-box;
    margin-bottom: 0;
    margin-left: auto;
    padding: 6px 8px;
}

#file-browser {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.col-item {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    position: relative;
}

/* Custom page header */

.header {
    padding-bottom: 0.25rem;
    border-bottom: .05rem solid #e5e5e5;
    margin: auto;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}


/* Custom page footer */

#footer {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
    width: 100%;
}
.search_bar {
    margin-bottom: 10px;
    border: 0px;
}

#file-browser .col-item-wrap{
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.panel {
    border: 3.5px solid #bbb;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}

.card{
    background-color: #f1f1f1;
}

.topless-rule{
    margin-top: 0;
}

.input-group{
    margin-top:16px; 
    width: 45%;
    border-radius: 6px;

}

.btn{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #cccccc;
}

.approval-warning{
    border-left: 4px solid #FCEB5F;
    background-color: #ffffcc;
    padding: 0.5em;
    margin-bottom: 0.5em;
    
}

.material-icons{
    position: absolute;
    bottom: 0;
    right: 0;
}
.material-icons:hover{
    color: #0A7EF3;
}
.file-name{
    font-family: monospace;
}

.file-box{
    border: 1px solid #cccccc;
    padding: 0.5em;
}

.approve-box{
    padding: 0.5em;
    background-color: #f1f1f1;
    color: black;
    overflow: auto;
    border-right: 1px solid #dedede; 
    border-bottom: 1px solid #dedede; 
    margin: 2px; 
    border-left: 3px solid #aaaaaa; 

}

.results-box{
    max-height: 15rem;
    overflow: auto;
}
.tags-section{
    max-height: 40rem;
    overflow: auto;
}
.review-button{
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 2px;
    color: black;
    background-color: #fdfdfd;
}

.review-button:visited, .review-button:link,.review-button:active{
    text-decoration: none;
    color: black;
}

.file-link:visited, .file-link:link,.file-link:active{
    text-decoration: none;
    color: #333377;
}
.review-button:hover{
    background-color:  #cccccc;
    text-decoration:none;
    color: black;
}

.inset-box{
    border: 1px solid #dedede; 
    border-radius: 3px;
    background-color: #f7f7f7;
    padding: 1px 2px; 
    overflow: auto;
}

.btn.upload-btn{
    border: 1px solid #0A7EF3;
    color: #0A7EF3;
    margin-left: auto ;
    margin-right: auto ; 
    margin-top: 7px;
}
.btn.upload-btn:hover{
    color: white;
    background-color: #0A7EF3;
}



.file-column { 
    min-height: 16rem; /*absolute min*/
    height: calc(100vh - 500px); /*adjust to screen, offset depends on header height*/
    overflow-y: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 290px;
    max-width: 290px;
}

.page-size-scalar{
    min-height: 30em;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .input-group-addon, .input-group .form-control {
        display: block !important; 
        margin-bottom: 10px !important;
        clear: both !important;
        border-radius: 2px !important;
    }
    .input-group .btn{
        border-radius: 2px !important;
        width: 100% !important;

    }

    input.form-control{
        width:100% !important;
        display: block !important; 
    }

    .input-group.search-group {
        display: block !important;
        width: 100% !important;
    }
    #path-bar{
        width: 100%;
    }
}

@media(min-width: 1400px){
    #content{
        min-width: calc(100% - 220px) !important;
    }
}


@media(min-height: calc(30em + 250px)){  /*absolute min + offset = size of screen for fluid transition*/
    .page-size-scalar{
        min-height: calc(100vh - 250px); /*adjust to screen, offset depends on header height*/
    }
}

@media(min-width: 768px) and (min-height: calc(30em + 200px)){  /*absolute min + offset = size of screen for fluid transition*/
    .page-size-scalar{
        min-height: calc(100vh - 200px); /*adjust to screen, offset depends on header height*/
    }
}

@media(min-width: 768px)/*Search becomes one row*/{
    .file-column { 
        height: calc(100vh - 300px); /*adjust to screen, offset depends on header height*/
    }
}