html,
body {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 0.5rem;
    padding-bottom: 0.15rem;
}

#body-container {
    min-width: 100%;
}


#content {
    min-height: 35em;  /*adjust for min size of page for all*/
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
}

#path {
    padding: auto;
}

#path-bar{
    box-sizing: border-box;
    height: 100%;
    margin: 0.36em 0 0.34em 0;
}
.path-box{
    height: 100%;
}

#file-browser {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.file-column {
    height: 94%;
    max-height: 25em; /*adjust for max size of column*/
    overflow-y: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 290px;
    max-width: 290px;
}

.col-item {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* Custom page header */

.header {
    padding-bottom: 0.25rem;
    border-bottom: .05rem solid #e5e5e5;
    margin: auto;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}


/* Custom page footer */

#footer {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
    width: 100%;
}
.search_bar {
    margin-bottom: 10px;
    border: 0px;
}

#file-browser .col-item-wrap{
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.panel {
    border: 3.5px solid #bbb;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}

.card{
    background-color: #f1f1f1;
}

.topless-rule{
    margin-top: 0;
}

.input-group{
    width: 45%;
    border-radius: 6px;

}

.btn{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #cccccc;
}

.approval-warning{
    border-left: 4px solid #FCEB5F;
    background-color: #ffffcc;
    padding: 0.5em;
    margin-bottom: 0.5em;
    
}

.file-name{
    font-family: monospace;
}