.tag{
	margin: 1pt;
	padding: 0pt 2pt;
	display: inline-block;
	background-color: #ddd;
	border: 3px solid grey;
}
.close-button{
	margin: 0pt 0pt 0pt 3pt;
    font-weight: bold;
    border: 0px;
    display: inline-block;
}
.tagbox{
}
.file-box{
	border: 1px solid #cccccc;
	padding: 0.5em;
}

.fake-input{
	display: inline-block;
}