.tag{
	margin: 1pt;
	padding: 0pt 2pt;
	display: inline-block;
	border: 2pt solid black;
}
.close-button{
	margin: 0pt 0pt 0pt 3pt;
    font-weight: bold;
    border: 0px;
    display: inline-block;
}
.tagbox{
	background-color: white;
}
span{

    display: inline-block;
    background-color: #ddd;
}