{% extends 'study/index.html' %}
{% load static %}
{%block title%}{{ course.code }}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse" style="position:fixed;top:0px;width:70vw;border-radius:0px;left:30vw;">
  <div class="container-fluid">
    <!--<div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>-->
    <ol class="nav navbar-nav" style='font-size:1.5vw;padding-bottom: 5px; display: inline-block;float: left;'>
      <li style="display: inline-block;"><a href="/study/">Home</a></li>
<li style="pointer-events: none;cursor: default; display: inline-block;" class='nav_li'><a href="/study/">></a></li>
<li style="display: inline-block;"><a href="?department={{course.dept.id}}&course_code=0">{{course.dept.dept}}</a></li>
<li style="pointer-events: none;cursor: default;display: inline-block;" class='nav_li'><a href="/study/">></a></li>
  <li class='nav_li' style="display: inline-block;"><a href="?department={{course.dept.id}}&course_code={{course.code}}">{{course.code}}</a></li>
      <!--<li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>-->
    </ol>
    <a style="text-decoration:none; float:right;" href="/study/light/"><h4 style="color:white;font-size:1vw; ">SWITCH THEME</h4></a>

  </div>
</nav>

<!--<ol class="breadcrumb" style="background-color:#000;position:fixed;left:29vw;top:0px;width:71vw;font-size:1.5vw;">
  <li><a href="/studapp/">Home</a></li>
  <li><a href="?department={{course.dept.id}}&course_code=0">{{course.dept.dept}}</a></li>
  <li class='nav_li'><a href="?department={{course.dept.id}}&course_code={{course.id}}">{{course.code}}</a></li>
</ol>-->

{% endblock %}

{% block content %}
<h2 id='code'>{{ course.code }}</h2>
<br />
<span id='papers'>

<div style="width: 50%; margin: 0px; display: inline-block; float: left;">
{% if course.minor1_set.first.checkEmpty %}
<div class="section">
<h3>Minor 1</h3>
<ul>
{% for exam in course.minor1_set.all %}
<!--<p class="p">{{ exam.paper }}</p>-->
<li><div class="desc"><a class='p' href={{exam.paper.url}}>{{exam.paper}}</a><div class="description">{{exam.description}}</div></div></li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if course.minor2_set.first.checkEmpty %}
<div class="section">
<h3>Minor 2</h3>
<ul>
{% for exam in course.minor2_set.all %}
<li><div class="desc"><a class='p' href={{exam.paper.url}}>{{exam.paper}}</a><div class="description">{{exam.description}}</div></div></li>
{% endfor %}
</ul>
</div>
{% endif %}
</div>

<div style="width: 50%; margin: 0px; display: inline-block; float: left;">
{% if course.major_set.first.checkEmpty %}
<div class="section">
<h3>Major</h3>
<ul>
{% for exam in course.major_set.all %}
<li><div class="desc"><a class='p' href={{exam.paper.url}}>{{exam.paper}}</a><div class="description">{{exam.description}}</div></div></li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if course.other_set.first.checkEmpty %}
<div class="section">
<h3>Other</h3>
<ul>
{% for exam in course.other_set.all %}
<li><div class="desc"><a class='p' href={{exam.paper.url}}>{{exam.paper}}</a><div class="description">{{exam.description}}</div></div></li>
{% endfor %}
</ul>
</div>
{% endif %}
</div>

{% if not course.minor1_set.first.checkEmpty and not course.minor2_set.first.checkEmpty and not course.major_set.first.checkEmpty and not course.other_set.first.checkEmpty %}
<div>
  <p style="font-size: 1.2em; color: #fff;">Sorry! No Content has been uploaded for this course yet.</p>
</div>
{% endif %}

</span>
{% endblock %}
{% block js %}
  <script src="{% static 'get_papers.js' %}"></script>
  {% endblock %}
