 {% extends 'books/index.html' %}
{% load static %}
{%block title%}Login{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse" style="position:fixed;top:0px;width:70vw;border-radius:0px;left:30vw;">
  <div class="container-fluid">
  
    <ol class="nav navbar-nav" style='font-size:1.5vw;padding-bottom: 5px;display: inline-block;float: left;'>
      <li style="display: inline-block;"><a href="/books/dark/">Home</a></li>
    <li style="pointer-events: none;cursor: default;display: inline-block;" class='nav_li'><a href="/books/dark/">></a></li>
<li class='nav_li' style="display: inline-block;"><a href="/books/thanks/">Login</a></li>
      
    </ol>
    
  </div>
</nav>

{% endblock %}
{% block content %}
    <form style="color: black; font-size:150%;" method="post" enctype="multipart/form-data" class="uploadform">
    {% csrf_token %}
    <label>Original file name</label>
    <input style="width:60%" type="text" name="org" value="{{org}}">
    <br>
    <label>New file name</label>
    <input style="width:60%" type="text" name="final">
    

    <button type="submit">Rename</button>
    </form>
{% endblock %}
{% block js %}
    <!-- <script src="{% static 'studapp/thanks.js' %}"></script> -->
    {% endblock %}









