{% extends 'books/shelf.html' %}
{% load static %}
{% load extra_tags %}
{%block title%}Approve{% endblock %}
{% block nav %}
<div class="d-flex flex-row justify-content-center" id="path">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb" id="path-bar">
            <li class="breadcrumb-item"><a href="/books/">Home</a></li>
            <li class="breadcrumb-item"><a href="/books/userlogout">Logout</a></li>
        </ol>
    </nav>
</div>

{% endblock %}

{% block body %}

<center><p>Please review the documents carefully before approving them.</p></center>

<div class="panel panel-default" style="height: 80%;">
    <div class="panel-body" style="height: 80%;">
    <center><h6>{{ error }}</h6></center>
    {% for doc in unapproved_documents%}
        <a id="unapproved_document" href="/../media/unapproved/{{ doc }}" target="blank">{{ doc }}</a>
        <div style="float: right;">
        <a id="unapproved_document" href="/books/approve_unapproved_document?name={{doc}}">Approve</a>&nbsp|
        <a id="unapproved_document" href="/books/remove_unapproved_document?name={{doc}}">Remove</a>&nbsp|
        <a id="unapproved_document" href="/books/rename?name={{doc}}">Rename</a></div>
        <br><br>
    {% endfor %}
    </div>
</div>
{% endblock %}
