{% extends 'books/shelf.html' %}
{% load static %}
{% load extra_tags %}
{%block title%}Approve{% endblock %}
{% block nav %}
<div class="d-flex flex-row justify-content-center" id="path">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb" id="path-bar">
            <li class="breadcrumb-item"><a href="/books/">Home</a></li>
            <li class="breadcrumb-item"><a href="/books/userlogout">Logout</a></li>
        </ol>
    </nav>
</div>

{% endblock %}

{% block body %}

<p>Please review the document carefully before approving the document.</p>

{% for doc in unapproved_documents%}
	<a id="unapproved_document" href="/../media/unapproved/{{ doc }}" target="blank">{{ doc }}</a>
    
    <a style="position: absolute;right: 30%" id="unapproved_document" href="/books/approve_unapproved_document?name={{doc}}">Approve</a>
	<a style="position: absolute;right: 20%" id="unapproved_document" href="/books/remove_unapproved_document?name={{doc}}">Remove</a>
    <a style="position: absolute;right: 10%" id="unapproved_document" href="/books/rename?name={{doc}}">Rename</a>
	<br><br>
{% endfor %}
{% endblock %}
