{% extends 'books/shelf.html' %}
{% load static from staticfiles%}
{% load extra_tags %}

{%block body%}


<div class="container row" >
   <div class="d-flex col-md-6 order-md-last path-box "id="path">
      {% block nav %}
      <ol class="breadcrumb"id="path-bar" >
          <li class="breadcrumb-item"><a href="#">Home</a></li>
      </ol>
      {% endblock %}
  </div>
<div class="input-group search-group col-md-6 order-md-first" >
    <input type="search" class="form-control" placeholder="Search, e.g. APL100 Major">
    <div class="input-group-btn" style="">
      <button class="btn btn-outline-default">
        Search
      </button>
    </div>
     <div class="input-group-btn">
      <button class="btn btn-outline-default">
        Reset
      </button>
    </div>
  </div>
  
</div>
<div id="output"></div>
<hr/>
<div class="d-flex flex-row" id="file-browser"></div>
<script src="{% static 'js/browse.js' %}"></script>
<script src="{% static 'js/display.js' %}"></script>
<script src="{% static 'js/searchtest.js' %}"></script>

{%endblock%}