{% extends 'books/shelf.html' %}
{% load static %}
{% load extra_tags %}

{%block body%}
<div class="container">
<input class = "form-control" style="width: 35%; display: inline" type="search" />
<button class="btn btn-default">Search</button>
<button class="btn btn-default">Reset</button>
</div>
<div id="output"></div>
<hr/>
<div class="d-flex flex-row" id="file-browser"></div>
<script src="{% static 'js/browse.js' %}"></script>
<script src="{% static 'js/display.js' %}"></script>
<script src="{% static 'js/searchtest.js' %}"></script>

{%endblock%}