{% extends 'books/indexl.html' %}
{% load static %}
{%block title%}{{ course.code }}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse" style="position:fixed;top:0px;width:70vw;border-radius:0px;left:30vw;">
  <div class="container-fluid">
    <!--<div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>-->
    <ol class="nav navbar-nav" style='font-size:1.5vw;padding-bottom: 5px; display: inline-block;float: left;'>
      <li style="display: inline-block;"><a href="/books/">Home</a></li>
<li style="pointer-events: none;cursor: default; display: inline-block;" class='nav_li'><a href="/books/">></a></li>
<li style="display: inline-block;"><a href="?department={{department_id}}&course_code=0">{{department_id}}</a></li>
<li style="pointer-events: none;cursor: default;display: inline-block;" class='nav_li'><a href="/books/">></a></li>
  <li class='nav_li' style="display: inline-block;"><a href="?department={{course.dept.id}}&course_code={{course.code}}">{{course_code_id}}</a></li>
      <!--<li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>-->
    </ol>
    <a style="text-decoration:none; float:right;" href="/books/"><h4 style="font-size:1vw; ">SWITCH THEME</h4></a>

  </div>
</nav>

<!--<ol class="breadcrumb" style="background-color:#000;position:fixed;left:29vw;top:0px;width:71vw;font-size:1.5vw;">
	<li><a href="/studapp/">Home</a></li>
	<li><a href="?department={{course.dept.id}}&course_code=0">{{course.dept.dept}}</a></li>
	<li class='nav_li'><a href="?department={{course.dept.id}}&course_code={{course.id}}">{{course.code}}</a></li>
</ol>-->

{% endblock %}

{% block content %}
<h2 id='code'>{{ course_code_id }}</h2>
<br />
<span id='papers'>

<ul class="nav nav-tabs">
  {% for parameter,items in list[department_id][course_code_id] %}
    {% if items %}
    <li class="active"><a data-toggle="tab" href="#{{parameter}}">{{parameter}}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  {% for parameter,items in list[department_id][course_code_id] %}
    {% if items %}
      <div id="{{parameter}}" class="tab-pane fade in active">
        <h3>{{parameter}}</h3>
      {% for item in items %}
        <p>{{item}}</p>
      {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>

</span>
{% endblock %}
{% block js %}
	<script src="{% static 'get_papers.js' %}"></script>
	{% endblock %}
