{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'style.css' %}"/>
	<script src="{% static 'bootstrap.min.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Slabo+27px" rel="stylesheet">
	<title>{% block title %}StudyPortal-Home{% endblock %}</title>
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106130907-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments)};
	  gtag('js', new Date());

	  gtag('config', 'UA-106130907-1');
	</script>
</head>
<body>
<!--******SIDEBAR********-->
	
  <div class="sidebar"> 
	<a style="text-decoration:none" href="/books/dark/"><h1 style="color:white;font-size:3vw; ">Study Portal</h1></a>
	{% block sidebar %}
	

	<div class="input">
	<form action="/books/dark/view/" id='course_with_code' method='get'>
	
	<div class="form-group">
	<label for="course_code" style="color:white;">Department</label>		
	<select class='form-control' name="department" form="course_with_code" id='select1'>
		 <option value="0" selected="selected">Select a department</option>
		 {% for dept,code in list.items %}
		 	{% if code %}
		 		<option value= {{ dept }}>{{ dept }}</option>
		 	{% endif %}
		 {% endfor %}		 
	</select>
	<!-- DONE We have to change so that the second list is dynamically updated based on first one -->
	<label for="course_code" style="color:white;">Course Code</label>	
	<input type='text' class='form-control' list='course_code' name="course_code" form="course_with_code" autocomplete="off" id='select2' placeholder="Search or use the dropdown" >
	<datalist id="course_code">
		
		 {% for dept,codes in list.items %}
		 	{% for course in codes %}
		 		<option   value="{{course}}">{{ course }}</option>
	 		{% endfor %}
		 {% endfor %}
	</datalist>
 	<input  type="submit" class="btn btn-success btn-lg" style="font-size:1.2vw;"></div></form></div>
	{% endblock %}
	<br/>
	<br/>
	<a href="/books/dark/upload" class="btn btn-primary btn-lg upload-button">Upload a new file</a> 
	
	<h2 class="text-primary" style="color:#f9f9f9; font-size:1.5vw; position: fixed; bottom: 10vh; margin-top: 10vh;">Powered by <a href="https://devclub-iitd.github.io/devClubWebsite/">IITD DevClub</a><h2>
  </div>
<!--***************** SIDEBAR DONE ****************-->


<!--***************** CONTENT ****************-->
  <div class="content container"> 
	
<!--***************** NAVIGATION****************-->
{% block navbar %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ol class="nav navbar-nav" style='font-size:1.5vw; display: inline-block;float: left;'>
      <li style="display: inline-block;"><a href="/books/dark/">Home</a></li>
    </ol>
    		<a style="text-decoration:none; float:right;" href="/books/light/"><h4 style="color:white;font-size:1vw;">SWITCH THEME</h4></a>
 
  </div>
</nav>


{% endblock %}
<!--***************** NAVIGATION BAR DONE ****************-->
{% block content %}
<!--CSS cards for courses-->
<div class="promos">
{% for dept, codes in list.items %}
	{% if codes %}
	<div class="promo">
  		<div class="deal">
   			 <span class="dept-title">{{dept}}</span>
  		</div>
  			<ul class="features">
					{% for course in codes %}
					<li><a class="course" href="/books/dark/view/?department={{ dept }}&course_code={{ course }}" style="color: #003459">{{ course }}</a></li>
	  				 {% endfor %}  					
 			 </ul>
 		 <button onclick="window.location.href='/books/dark/view/?department={{ dept }}&course_code=0'">View All</button>
	</div>
	{% endif %}
{% endfor %}
</div>



	{% endblock %}
<!--*********CONTENT DONE**********-->
 </div>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	{% block js %}
	<script src="{% static 'index.js' %}"></script>
	{% endblock %}
	<script src="{% static 'list_update.js' %}"></script>
</body>
</html>
