{% extends 'books/index.html' %}
{% load static %}
{%block title%}Login{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ol class="nav navbar-nav" style='font-size:1.5vw;padding-bottom: 5px;display: inline-block;float: left;'>
      <li style="display: inline-block;"><a href="/books/dark/">Home</a></li>
	<li style="pointer-events: none;cursor: default;display: inline-block;" class='nav_li'><a href="/books/dark/">></a></li>
<li class='nav_li' style="display: inline-block;"><a href="/books/thanks/">Login</a></li>
    </ol>
  </div>
</nav>

{% endblock %}
{% block content %}

	<form method="POST" enctype="multipart/form-data">
   		{% csrf_token %}
   		<label>Username</label>
		<input type="text" name="username">
		<br>
		<label>Password</label>
		<input type="password" name="password">
		<br>
		<button>Login</button>
	</form>
{% endblock %}
{% block js %}
	<!-- <script src="{% static 'studapp/thanks.js' %}"></script> -->
	{% endblock %}
