{% extends 'books/shelf.html' %}
{% load static %}
{% load extra_tags %}

{% block nav %}
<div class="d-flex flex-row justify-content-center" id="path">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb" id="path-bar">
            <li class="breadcrumb-item"><a href="/books/">Home</a></li>
            <li class="breadcrumb-item"><a href="/books/userlogout">Logout</a></li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block body %}
    <form style="color: black; font-size:150%;" method="post" enctype="multipart/form-data" class="uploadform">
    {% csrf_token %}
    <label>Original file name</label>
    <input style="width:60%" type="text" name="org" value="{{org}}">
    <br>
    <label>New file name</label>
    <input style="width:60%" type="text" name="final">
    <button type="submit">Rename</button>
    </form>
{% endblock %}