{% extends 'books/shelf.html' %}
{% load static %}
{% load extra_tags %}

{% block nav %}
    <link rel="stylesheet" href="{% static 'css/tagtest.css' %}">
        <ol class="breadcrumb" id="path-bar">
            <li class="breadcrumb-item"><a href="/books/">Home</a></li>
            <li class="breadcrumb-item"><a href="/books/approve">Approve</a></li>
        </ol>
{% endblock %}

{% block body %}
<div class="page-size-scalar">

    <form style="color: black;" method="post" enctype="multipart/form-data" class="uploadform">
    {% csrf_token %}
    <label>Original file name</label>
    <br>
    <input class = "form-control" " type="text" name="org" value="{{org}}">
    <br>
    <label>New file name</label>
    <br>
    <input class = "form-control" " type="text" name="final">
    <br>
    <label>Tags</label>
        <br>
    <span class='tagbox'>
    </span>
        <br>
    <input type="hidden" id="current-tags" value="{{tags}}," >
    <input class="fake-input form-control" placeholder="Enter tags here, eg. Major, Practical, Tutorial">
        <br>
    <button type="button" class="submit btn btn-default">Submit</button>
    <button type="button" class="reset btn btn-default">Reset</button>

    </form>
    <script src="{% static 'js/tagtest.js' %}"></script>
    <script src="{% static 'js/tagrun.js' %}"></script>
</div>

{% endblock %}