{% load static %}
{% load extra_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/styles.js' %}"></script>

	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/browse.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Slabo+27px" rel="stylesheet">

	<title>{% block title %}Citadel{% endblock %}</title>
</head>
<body>

    <div class="container-fluid" id="body-container">
        <header class="header">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                    <a class="nav-link" href="/books/upload/">Upload<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <h3 class="text-muted">Citadel</h3>
            </nav>
        </header>
        <div class="container" id="content">
            <div class="d-flex flex-row justify-content-center" id="path">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb" id="path-bar">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex flex-row" id="file-browser">
            </div>
        </div>
        <footer class="footer" id="footer">
            <div class="container">
                <p class="text-muted text-center">&copy; Dev Club IIT Delhi</p>
            </div>
        </footer>

    </div>

    <script src="{% static 'js/browse.js' %}"></script>
</body>
</html>
