{% load static from staticfiles%}
{% load extra_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/styles.js' %}"></script>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/browse.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-81476513-4"></script>



    
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-81476513-4');
	</script>

	<title>{% block title %}Citadel{% endblock %}</title>
</head>
<body>
    <div class="container-fluid" id="body-container">
        <header class="header">
            <nav>
                <ul class="nav nav-pills float-right">

                    <li class="nav-item">
                    <a class="nav-link" href="/books/upload/">Upload</a>
                    </li>
                    {% if user.is_authenticated %}
                     <li class="nav-item">
                    <a class="nav-link" href="/books/approve">Approve</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/books/bulk_approve">Bulk Approve</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/books/finalize_approvals">Finalize Approvals</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/books/force_integrity">Force Integrity</a>
                    </li>
                     <li class="nav-item">
                    <a class="nav-link" href="/books/userlogout">Logout</a>
                    </li>

                    {% endif %}
<li class="nav-item">
                    <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLScPwizIa6I62uZWx5IX3VxKFJKm8x-IH2j17eGkPl_woJMTeA/viewform" target="_blank">Suggestions</a>
                    </li>
               
<li class="nav-item">
                    <a class="nav-link" href="http://www.cse.iitd.ac.in/devclub/" target="_blank">About Us</a>
                    </li>
                </ul>
                <a href="/books/"><h3 class="text-muted">Citadel</h3></a>
            </nav>
        </header>
        <div class="container" id="content">
            
           <!--  <div class="d-flex flex-row justify-content-center" id="path">
                <nav class="path-box" aria-label="breadcrumb" role="navigation">
                    {% block nav %}
                    <ol class="breadcrumb" id="path-bar">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                    {% endblock %}
                </nav>
            </div> -->

            {% block body %}
            <div class="d-flex flex-row" id="file-browser">
            </div>
            

            {% endblock %}
            </div>
              </div>  
            
        <div id="footer">
            <div style="/*! margin: auto; */margin: 0,auto;" class="container mb-2">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <a class="disabled" href="/books/upload" style="">
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Upload and share your study material"
                            class="btn btn-light btn-block md-6">Contribute</button>
                    </a>
                </div>
            </div>
        </div>
        <hr>
            <div class="text-muted text-center container footer-text">&copy;<a href="http://www.cse.iitd.ac.in/devclub/" target="_blank">Dev Club IIT Delhi</a></div>
        </div>
    <script src="{% static 'js/browse.js' %}"></script>
</body>
</html>
