{% load static %}
{% load extra_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/browse.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Slabo+27px" rel="stylesheet">

	<title>{% block title %}Book Shelf{% endblock %}</title>
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106130907-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments)};
	  gtag('js', new Date());

	  gtag('config', 'UA-106130907-1');
	</script>
</head>
<body>
    <div class="container-fluid" id="body-container">
        <header class="header">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                    <a class="nav-link" href="/books/light/upload/">Upload<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <h3 class="text-muted">Book Shelf</h3>
            </nav>
        </header>
        <div class="container" id="content">
            <div class="row" id="path">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        {% for name,url in path %}
                            {% if forloop.last %}
                                <li class="breadcrumb-item active">{{name}}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="{{url}}">{{name}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
            <div class="row" id="file-browser">
                <div class="col-sm-2 border rounded file-col1">
                    <div class="nav nav-pills flex-column file-column" role="tablist" aria-orientation="vertical">
                        {% for key1,value1 in db.items %}
                            {% if value1 %}
                                {% if value1|get_type == 'str' %}
                                    <a target="_blank" class="nav-link" id="{{key1}}-tab" href="{{value1}}">{{key1}}</a>
                                {% else %}
                                    <a class="nav-link" id="{{key1}}-tab" data-toggle="pill" href="#{{key1}}-con"
                                        role="tab" aria-controls="{{key1}}" aria-selected="false">{{key1}}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-10 tab-content">
                    {% for key1,value1 in db.items %}
                        {% if value1 and value1|get_type != 'str' %}
                            <div class="tab-pane fade" id="{{key1}}-con" role="tabpanel" aria-labelledby="{{key1}}-tab">
                                <div class="row">
                                    <div class="col-sm-3 border rounded file-col2">
                                        <div class="nav nav-pills flex-column file-column" role="tablist" aria-orientation="vertical">
                                            {% for key2,value2 in value1.items %}
                                                {% if value2 %}
                                                    {% if value2|get_type == 'str' %}
                                                        <a target="_blank" class="nav-link" href="{{value2}}">{{key2}}</a>
                                                    {% else %}
                                                        <a class="nav-link" id="{{key1}}-{{key2}}-tab" data-toggle="pill" href="#{{key1}}-{{key2}}-con"
                                                            role="tab" aria-controls="{{key1}}-{{key2}}" aria-selected="false">{{key2}}</a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-sm-9 tab-content" >
                                        {% for key2,value2 in value1.items %}
                                            {% if value2 and value2|get_type != 'str' %}
                                                <div class="tab-pane fade" id="{{key1}}-{{key2}}-con" role="tabpanel" aria-labelledby="{{key1}}-{{key2}}-tab">
                                                    <div class="row">
                                                        <div class="col-sm-5 border rounded file-col3">
                                                            <div class="nav nav-pills flex-column file-column" role="tablist" aria-orientation="vertical">
                                                                {% for key3,value3 in value2.items %}
                                                                    {% if value3 %}
                                                                        {% if value3|get_type == 'str' %}
                                                                            <a target="_blank" class="nav-link" href="{{value3}}">{{key3}}</a>
                                                                        {% else %}
                                                                            <a class="nav-link" id="{{key1}}-{{key2}}-{{key3}}-tab" data-toggle="pill" href="#{{key1}}-{{key2}}-{{key3}}-con"
                                                                                role="tab" aria-controls="{{key1}}-{{key2}}-{{key3}}" aria-selected="false">{{key3}}</a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-7 tab-content border rounded  file-col4" >
                                                            {% for key3,value3 in value2.items %}
                                                                {% if value3 and value3|get_type != 'str' %}
                                                                    <div class="tab-pane fade" id="{{key1}}-{{key2}}-{{key3}}-con" role="tabpanel" aria-labelledby="{{key1}}-{{key2}}-{{key3}}-tab">
                                                                        <div class='nav nav-pills flex-column file-column' role="tablist" aria-orientation="vertical">
                                                                            {% for key4,value4 in value3.items %}
                                                                                {% if value4|get_type == 'str' %}
                                                                                    <a target="_blank" class="nav-item nav-link" href="{{value4}}">{{key4}}</a>
                                                                                {% else %}
                                                                                    <a class="nav-item nav-link" href="{{key1}}/{{key2}}">{{key4}}</a>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
    
            </div>
        </div>
        <footer class="footer" id="footer">
            <div class="container">
                <p class="text-muted text-center">&copy; Dev Club IIT Delhi</p>
            </div>
        </footer>

    </div>
</body>
</html>
