{% extends 'books/shelf.html' %}
{% load static %}
{% load extra_tags %}

{% block nav %}
        <ol class="breadcrumb" id="path-bar">
            <li class="breadcrumb-item"><a href="../">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Upload</a></li>
        </ol>
{% endblock %}
{% block body %}

<div class="page-size-scalar">
<div class="container rounded">
    <p>Thanks for uploading. Our experts would soon put it on the Citadel after scrutinising it.</p>
</div>
</div>
{% endblock %}