{% extends 'books/index.html' %}
{% load static %}
{%block title%}Thanks{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ol class="nav navbar-nav" style='font-size:1.5vw;padding-bottom: 5px; display: inline-block;float: left;'>
        <li style="display: inline-block;"><a href="/books/">Home</a></li>
        <li style="pointer-events: none;cursor: default;display: inline-block;" class='nav_li'><a href="/books/">></a></li>
        <li class='nav_li' style="display: inline-block;">Thanks</li>
    </ol>
  </div>
</nav>


{% endblock %}
{% block content %}
<h2 id='h2_1'>Thank you for uploading.</h2>
<h2 id='h2_2'> Our experts would soon put it on the website after scrutinising it.</h2>
{% endblock %}
{% block js %}
	<script src="{% static 'js/thanks.js' %}"></script>
{% endblock %}
