{% extends 'books/shelf.html' %}
{% load static from staticfiles%}
{% load extra_tags %}
{%block title%}Approve{% endblock %}
{% block nav %}
        <ol class="breadcrumb" id="path-bar">
            <li class="breadcrumb-item"><a href="/books/">Home</a></li>
            <li class="breadcrumb-item"><a href="/books/approve">Approve</a></li>
        </ol>

{% endblock %}

{% block body %}

<div class="page-size-scalar">

<div class="input-group search-group" style="width: 70%">
    <input type="search" class="form-control" >
    <div class="input-group-btn">
      <button class="btn btn-outline-default" type="submit">
        File Search
      </button>
    </div>
    <div class="input-group-btn">
      <button class="btn btn-outline-default" type="reset">
        Reset
      </button>
    </div>
  </div>
<div id="output" class="results-box"></div>
<hr/>

{% if pending_approvals %}
<div class="approval-warning">
    There are approved files waiting to be finalized
</div>
{% endif %}

<!--< Replace below for scrolling div, does not scale for large displays> -->
<!-- <div class="panel panel-default" style="max-height: 50rem; overflow: auto;" > -->
<div class="panel panel-default" >
    <div class="panel-body">
        <div class="card">
    <div class="card-body">
        <center>Please review the documents carefully before approving them.</center>
    </div>
</div>
    <hr>
    <center><h6>{{ error }}</h6></center>
    {% for doc in unapproved_documents %}

    <div class="file-box approve-box">
        <div class="inset-box">
        <a class="file-name file-link" href="/../media/unapproved/{{ doc }}" target="blank">{{ doc }}</a>
        </div>
        <div>
        <a class="review-button"  href="/books/approve_unapproved_document?name={{doc|urlencode}}">Approve</a>
        <a class="review-button" href="/books/remove_unapproved_document?name={{doc|urlencode}}">Remove</a>
        <a class="review-button" href="/books/rename?name={{doc|urlencode}}">Rename</a></div>
    </div>

    
    {% endfor %}
    </div>
    </div>

</div>

    
<script src="{% static 'js/browse.js' %}"></script>
<script src="{% static 'js/filesearch.js' %}"></script>

{% endblock %}